body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #B2F9FC;
}

.intro {
  margin-top: 0;
  font-size: 70px;
  font-family: 'MonteCarlo', cursive;
  letter-spacing: 2px;
  color: #09009B;
  padding-top: 0px;
  margin-bottom: 0;
}
.intro3 {
  margin-top: 0;
  font-size: 50px;
  font-family: 'MonteCarlo', cursive;
  letter-spacing: 2px;
  color: #FF0075;
  padding-top: 2px;
  margin-bottom: 0;
}
.intro2 {
  margin-top: 0;
  font-size: 50px;
  font-family: 'MonteCarlo', cursive;
  letter-spacing: 2px;
  color: Red;
  padding-top: 2px;
  margin-bottom: 0;
}
.intro1 {
  margin-top: 0;
  font-size: 50px;
  font-family: 'MonteCarlo', cursive;
  letter-spacing: 2px;
  color: Green;
  padding-top: 2px;
  margin-bottom: 0;
}
.img-right {
  position: absolute;
  right: 20px;
  top: 60px;
  width: 200px;
  height: 200px;
}

.img-left {
  position: absolute;
  left: 20px;
  top: 500px;
  width: 200px;
  height: 200px;
}

.btn {
  font-family: 'times new roman';
  font-weight: bold;
  color: #0D0D6A !important;
  font-size: 28px;
  text-shadow: 0px 0px 0px #DDEEDD;
  box-shadow: 0px 1px 1px #391BF9;
  padding: 10px 25px;
  border-radius: 40px;
  border: 8px ridge #3866A3;
  background: #EEE126;
}
.btn:hover {
  color: #14396A !important;
  background: #34CF29;
}
#textarea{
    border-radius:2%;
    margin:30px,auto,auto;
    border: 8px ridge #3866A3;
    font-family: 'times new roman';
    font-weight: bold;
    font-size:16px;



}